//extends layout
script(src = "js/edit.js")

style(type='text/css')
    input {
        float: right;
    }
div.row
    h1= title
h1= title
block content
    div.container
        
        
            form(action="", method="post").col-md-3
                .form-group
                    label(class="input") Фамилия
                    input(type="text", name="surname", value=json.surname)
                .form-group
                    label(class="input") Имя
                    input(type="text", name="username", value=json.name)
                .form-group
                    label(class="input") Отчество
                    input(type="text", name="secondName", value=json.secondName)
                .form-group
                    label(class="input") Место работы
                select#upr.form-control
                    each val, key in list
                        - var selected = 'false'
                        if val.name == json.upr
                            selected = 'true'
                        option(value=val.name, selected = selected)= val.name

                .btn(id="submit") Сохранить
