//extends layout


style(type='text/css')
    input {
        float: right;
    }
div.row
    h1= title
block content
    script(src="/js/jquery.form.js")


    div.container
        
        
            form(action="", method="post").col-md-3

                .form-group
                    label(class="input") Имя
                    a.form-control.input-inactive(type="text", name="name", id="name", value=json.name)=json.name


   style(type='text/css')
        select {
            float: right;
        }

    div#in1.container(name= in1)

        form#inet(action="", method="post", name= inet).col-md-12
           .table-responsive
            table#channel.table.table-bordered
              tr
                td
                    label(class="input") Опис/Назва каналів зв'язку
                td
                    label(class="input") Цільове призначення
                td
                    label(class="input") Провайдер
                td
                    label(class="input") Тип каналу
                td
                    label(class="input") Швидкість приймання, Мбіт/с
                td
                    label(class="input") Швидкість передавання, Мбіт/с


              tr#cinfo0
                td
                    input.form-control(type="text", name="desc", id="desc", value=json.descr)=json.descr
                td
                    select#purp.form-control(name = "purp")
                        option(value = 'Загальний доступ до мережі Інтернет', name = json.purp) Загальний доступ до мережі Інтернет
                        option(value = 'Виділений канал', name = json.purp) Виділений канал
                td
                    select#prov.form-control(name = "prov")
                        option(value = 'Дніпронет', name = json.prov) "Дніпронет"
                        option(value = 'КТБ', name = json.prov) "КТБ"
                        option(value = 'Укртелеком', name = json.prov) "Укртелеком"
                        option(value = 'Атлас', name = json.prov) "Атлас"
                        option(value = 'Київстар', name = json.prov) "Київстар"
                        option(value = 'Інтертелеком', name = json.prov) "Інтертелеком"
                td
                    select#ctype.form-control(name = "ctype")
                        option(value = 'Телефонний ADSL', name = json.ctype) "Телефонний (ADSL)"
                        option(value = 'Кабельний', name = json.ctype) "Кабельний"
                        option(value = 'Wi-Fi', name = json.ctype) "Wi-Fi"
                        option(value = 'Мобільний', name = json.ctype) "Мобільний"
                td
                    input.form-control(type="text", name="dspd", id="dspd", value=json.dspd)=json.dspd

                td
                    input.form-control(type="text", name="uspd", id="uspd", value=json.uspd)=json.uspd

            a#add_channel.btn.btn-default Додати ще один канал
            .row(style="margin-top: 40px;")



            table#per.table.table-bordered(name= "preiferals")
                thead
                    th Перелік периферійного устаткування
                tbody
                    tr
                        td
                         label.input Тип устаткування
                        td
                         label.input Кольорова матриця
                        td
                         label.input Чорно-біла матриця
                    tr
                        td
                         label.input.form-control МФУ
                        td
                         input.form-control#MFU_color(type="text", name="MFU_color", value=json.MFU_color)=json.MFU_color
                        td
                         input.form-control#MFU_bw(type="text", name="MFU_bw", value=json.MFU_bw)=json.MFU_bw
                    tr
                        td
                            label.input.form-control Копіювальна техніка
                        td
                            input.form-control#Copier_color(type="text", name="Copier_color", value=json.Copier_color)=json.Copier_color
                        td
                            input.form-control#Copier_bw(type="text", name="Copier_bw", value=json.Copier_bw)=json.Copier_bw
                    tr
                        td
                            label.input.form-control Принтери
                        td
                            input.form-control#Printer_color(type="text", name="Printer_color", value=json.Printer_color)=json.Printer_color
                        td
                            input.form-control#Printer_bw(type="text", name="Printer_bw", value=json.Printer_bw)=json.Printer_bw
                    tr
                        td
                            label.input.form-control Сканери
                        td
                            input.form-control#Scanner_color(type="text", name="Scanner_color", value=json.Scanner_color)=json.Scanner_color
                        td
                            input.form-control#Scanner_bw(type="text", name="Scanner_bw", value=json.Scanner_bw)=json.Scanner_bw
      button.btn.btn-success(id="submit") Сохранить
    script(src = "js/upr.js")